@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
}

.header {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_container {
  width: 1600px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 230px 0 230px;
}

.header .header_container .left_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_container .left_header .logo {
  margin-right: 41px;
}

.header .header_container .right_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_container .right_header .cart {
  padding: 15px;
}

.header .header_container .right_header .authorization {
  padding: 15px;
}

.header .header_container .right_header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 15px;
}

.header .header_container .right_header .menu .menu_hover {
  position: absolute;
  background: #FFFFFF;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px 90px 30px;
  margin-right: 10px;
  top: 49px;
  left: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  z-index: 2;
  width: 192px;
}

.header .header_container .right_header .menu .menu_hover h3 {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding-bottom: 20px;
}

.header .header_container .right_header .menu .menu_hover .menu_hover_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  margin-right: 5px;
}

.header .header_container .right_header .menu .menu_hover .menu_hover_items .items_heading {
  padding-bottom: 12px;
  color: #F16D7F;
  font-weight: 400;
}

.header .header_container .right_header .menu .menu_hover .menu_hover_items a {
  text-decoration: none;
  color: #6F6E6E;
  line-height: 17px;
  padding-left: 19px;
  padding-right: 60px;
  margin: 5px 0;
  display: block;
}

.header .header_container .right_header .menu .menu_hover .menu_hover_items a:hover {
  color: #F16D7F;
  font-weight: 500;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.header .header_container .right_header .menu .menu_hover::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header_container .right_header .menu:hover .menu_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_info {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_info .header_infoCont {
  width: 1600px;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_info .header_infoCont .header_infoCont_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info .header_infoCont .header_infoCont_right .right_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_info .header_infoCont .header_infoCont_right .line {
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
  margin-right: 16px;
}

.header_info .header_infoCont .header_infoCont_right .heading {
  height: 92px;
}

.header_info .header_infoCont .header_infoCont_right .heading .h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.header_info .header_infoCont .header_infoCont_right .heading .heading_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.header_info .header_infoCont .header_infoCont_right .heading .heading_text span {
  color: #F16D7F;
}

.deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deals .deals_conteiner {
  width: 1600px;
  padding: 65px 230px 95px 230px;
}

.deals .deals_conteiner .h2 {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
}

.deals .deals_conteiner .card_text {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-weight: 700;
  text-align: center;
}

.deals .deals_conteiner .deals_contTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deals .deals_conteiner .deals_contTop .deals_card {
  width: 360px;
  height: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #F1E4E6;
}

.deals .deals_conteiner .deals_contTop .deals_card:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.deals .deals_conteiner .deals_contTop .card1 {
  background-image: url(img/card1.jpg);
}

.deals .deals_conteiner .deals_contTop .card2 {
  background-image: url(img/card2.jpg);
}

.deals .deals_conteiner .deals_contTop .card3 {
  background-image: url(img/card3.jpg);
}

.deals .deals_conteiner .deals_contBottom {
  background-image: url(img/cont_buttom.jpg);
  background-color: #F1E4E6;
  margin-top: 30px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.deals .deals_conteiner .deals_contBottom:hover {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
          box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.text_box {
  text-align: center;
}

.text_box .h3 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  font-weight: 400;
}

.text_box p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  font-weight: 400;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content_conteiner {
  width: 1600px;
  padding: 48px 230px 48px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content_conteiner .content_conteinerCard {
  height: 580px;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.content .content_conteiner .content_conteinerCard .content_container_card_img {
  height: 420px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content_conteiner .content_conteinerCard .content_container_card_img .card_img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .content_conteiner .content_conteinerCard .content_container_card_img .content_button_link {
  position: absolute;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .content_conteiner .content_conteinerCard .content_container_card_img .content_button_link .content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  padding: 5px 5px 5px 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .content_conteiner .content_conteinerCard .content_container_card_img .content_button_link .content_button p {
  display: block;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
}

.content .content_conteiner .content_conteinerCard .content_container_card_img .content_button_link .content_button img {
  height: 25px;
  width: 25px;
}

.content .content_conteiner .content_conteinerCard .content_container_card_info {
  padding: 25px 28px 20px 18px;
}

.content .content_conteiner .content_conteinerCard .content_container_card_info .h3 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  padding-bottom: 13px;
}

.content .content_conteiner .content_conteinerCard .content_container_card_info .content_card {
  color: #5D5D5D;
}

.content .content_conteiner .content_conteinerCard .content_container_card_info .price {
  color: #F16D7F;
  padding-top: 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.content .content_conteiner .content_conteinerCard:hover .content_button_link {
  display: block;
}

.content .content_conteiner .content_conteinerCard:hover .card_img {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.content .content_conteiner .content_button_link:hover .content_button {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-box-shadow: -7px 1px 30px 6px rgba(0, 0, 0, 0.15);
  box-shadow: -7px 1px 30px 6px rgba(0, 0, 0, 0.15);
}

.content .catalog_container {
  padding: 0px 230px 0px 230px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_container .browse_button {
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  border: 1px solid #FF6A6A;
  padding: 15px 38px;
  margin: 5px 0px 100px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button_container .browse_button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

.top_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 340px;
}

.top_footer .top_footer_content {
  width: 1600px;
  padding: 100px 230px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_footer .top_footer_content .top_footer_content_card {
  text-align: center;
}

.top_footer .top_footer_content .top_footer_content_card .card_head {
  color: #FBFBFB;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 23px;
}

.top_footer .top_footer_content .top_footer_content_card .card_text {
  color: #FBFBFB;
  line-height: 17px;
  font-size: 14px;
  padding-top: 16px;
}

.top_footer .top_footer_content .top_footer_content_card img {
  height: 40px;
  width: 40px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1600px;
  height: 450px;
  background-image: url(img/footer_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer_conteiner .footer_left {
  text-align: center;
  width: 360px;
  margin: 90px 0 130px 230px;
}

footer .footer_conteiner .footer_left .footer_img {
  height: 135px;
  width: 135px;
}

footer .footer_conteiner .footer_left .footer_text {
  font-size: 22px;
  line-height: 24px;
  color: #222224;
  font-weight: 400;
  padding-top: 20px;
}

footer .footer_conteiner .footer_right {
  text-align: center;
  width: 400px;
  margin: 150px 230px 150px 0;
}

footer .footer_conteiner .footer_right .footer_head {
  color: #222224;
  font-size: 25px;
  font-weight: 700;
  line-height: 41px;
}

footer .footer_conteiner .footer_right .footer_text2 {
  color: #222224;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

footer .footer_conteiner .footer_right .input_footer {
  margin-top: 32px;
  width: 255px;
  height: 50px;
  border-radius: 30px 0px 0px 30px;
  background: #E1E1E1;
  color: #222224;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding-left: 25px;
}

footer .footer_conteiner .footer_right .input_footer:focus {
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

footer .footer_conteiner .footer_right .footer_button {
  background: #F16D7F;
  height: 50px;
  width: 100px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-radius: 0 30px 30px 0;
  margin-left: -8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .footer_conteiner .footer_right .footer_button:hover {
  -webkit-transform: scale(1.07, 1.07);
          transform: scale(1.07, 1.07);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom .footer_bottom_conteiner {
  width: 1600px;
  height: 80px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_bottom .footer_bottom_conteiner .footer_bottom_left {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  font-weight: 400;
  padding-left: 245px;
}

.footer_bottom .footer_bottom_conteiner .footer_bottom_right {
  padding-right: 245px;
}

.footer_bottom .footer_bottom_conteiner .footer_bottom_right a {
  background: #FFFFFF;
  padding: 10px;
  margin-left: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer_bottom .footer_bottom_conteiner .footer_bottom_right a:hover {
  background: #F16D7F;
}

.header_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F8F3F4;
}

.header_catalog .header_catalog_cont {
  width: 1600px;
  height: 150px;
  padding: 0 230px 0px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_catalog .header_catalog_cont .header_catalog_left {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.header_catalog .header_catalog_cont .header_catalog_left a {
  color: #F16D7F;
}

.header_catalog .header_catalog_cont .header_catalog_right {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.header_catalog .header_catalog_cont .header_catalog_right a {
  color: #636363;
}

.header_catalog .header_catalog_cont .header_catalog_right .menu_text {
  color: #F16D7F;
  font-weight: 700;
}

.header_catalog .header_catalog_cont .header_catalog_right a:hover {
  color: #F16D7F;
  font-weight: 700;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.search_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search_menu .search_menu_cont {
  width: 1600px;
  padding: 0px 230px;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_menu .search_menu_cont .search_menu_left {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  position: relative;
}

.search_menu .search_menu_cont .search_menu_left img {
  vertical-align: middle;
  padding: 0 0 4px 10px;
}

.search_menu .search_menu_cont .search_menu_left a {
  color: #000000;
}

.search_menu .search_menu_cont .search_menu_left .search_menu_left_hover {
  position: absolute;
  top: 3px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_menu .search_menu_cont .search_menu_left .search_menu_left_hover .search_menu_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_menu .search_menu_cont .search_menu_left .search_menu_left_hover .search_menu_heading .s1 {
  padding: 0px 0px 0px 12px;
}

.search_menu .search_menu_cont .search_menu_left .search_menu_left_hover .search_menu_heading p {
  color: #EF5B70;
  font-weight: 600;
  line-height: 0px;
}

.search_menu .search_menu_cont .search_menu_central {
  padding-right: 400px;
}

.search_menu .search_menu_cont .search_menu_central a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  font-weight: 400;
}

.search_menu .search_menu_cont .search_menu_central img {
  vertical-align: middle;
  padding: 0 28px 0 10px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages .pages_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.pages .pages_conteiner .pagination {
  border: 1px solid #EBEBEB;
  height: 43px;
  width: 283px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pages .pages_conteiner .pagination a {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #EBEBEB;
}

.pages .pages_conteiner .pagination .black {
  color: #000000;
}

.pages .pages_conteiner .pagination a:hover {
  color: #EF5B70;
  font-weight: 700;
}

.product_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F7F7F7;
  height: 777px;
}

.product_carousel .carousel {
  width: 1600px;
}

.product_carousel .carousel button img {
  background: rgba(42, 42, 42, 0.15);
  padding: 12px;
  border: 0px;
}

.product_carousel .carousel button .reverse {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.card_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_block .card_block_content {
  position: absolute;
  z-index: 5;
  top: -60px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 600px;
  max-width: 1140px;
  border: 1px solid #EAEAEA;
  padding: 65px 250px;
}

.card_block .card_block_content .card_block_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_block .card_block_content .card_block_info .card_block_head {
  color: #F16D7F;
  font-size: 14px;
  margin-bottom: 12px;
}

.card_block .card_block_content .card_block_info .line {
  background: #f1405b;
  opacity: unset;
  width: 63px;
  height: 3px;
  margin: 0;
}

.card_block .card_block_content .card_block_info .card_block_head2 {
  color: #4D4D4D;
  font-size: 18px;
  margin-top: 12px;
}

.card_block .card_block_content .card_block_info .card_block_text {
  color: #5E5E5E;
  text-align: center;
  margin-top: 48px;
}

.card_block .card_block_content .card_block_info .card_block_price {
  color: #EF5B70;
  margin-top: 32px;
  margin-bottom: 65px;
  font-size: 24px;
}

.card_block .card_block_content .card_block_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 120px;
}

.card_block .card_block_content .card_block_details details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_block .card_block_content .card_block_details details input[type="radio"] {
  width: 15px;
  height: 15px;
  border-radius: 999px;
  -webkit-appearance: inherit;
  border: 1px solid #999999;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_block .card_block_content .card_block_details details input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  border-radius: 999px;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background: #F16D7F;
}

.card_block .card_block_content .card_block_details details summary {
  font-weight: 400;
  list-style: none;
  padding-left: 24px;
}

.card_block .card_block_content .card_block_details details summary img {
  vertical-align: middle;
  padding-left: 9px;
}

.card_block .card_block_content .card_block_details details label {
  padding-left: 55px;
  font-weight: 400;
}

.card_block .card_block_content .card_block_details details label input {
  vertical-align: middle;
}

.card_block .card_block_content .card_block_details details label:hover {
  color: #EF5B70;
  font-weight: 700;
}

.card_block .card_block_content .card_block_details details:hover summary {
  color: #EF5B70;
  font-weight: 700;
}

.card_block .browse_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  padding: 7px 17px 7px 15px;
  margin: 0 0 0 29%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card_block .browse_button p {
  color: #F26376;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  padding-left: 13px;
  margin-bottom: 0px;
}

.card_block .browse_button img {
  height: 25px;
  width: 25px;
}

.card_block .browse_button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

.empty {
  height: 570px;
}

.content-product p {
  margin-bottom: 0px;
}

.registration__conteiner {
  height: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration__conteiner .registration__cart {
  width: 1600px;
  padding: 64px 230px 90px 230px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__conteiner .registration__cart .registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__conteiner .registration__cart .registration__form .registration-head {
  font-size: 16px;
  color: #222222;
  padding-bottom: 20px;
  font-weight: 400;
}

.registration__conteiner .registration__cart .registration__form .registration__input {
  display: block;
  height: 44px;
  width: 360px;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
}

.registration__conteiner .registration__cart .registration__form .registration__input:focus {
  border: 1px solid #F16D7F;
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

.registration__conteiner .registration__cart .registration__form .registration__input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #A4A4A4;
}

.registration__conteiner .registration__cart .registration__form .registration__input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #A4A4A4;
}

.registration__conteiner .registration__cart .registration__form .registration__input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #A4A4A4;
}

.registration__conteiner .registration__cart .registration__form .registration__input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #A4A4A4;
}

.registration__conteiner .registration__cart .registration__form .registration-radio {
  display: inline-block;
  font-size: 11px;
  color: #000000;
  vertical-align: text-top;
  padding: 0 26px 0 4px;
}

.registration__conteiner .registration__cart .registration__form .registration-radio:hover {
  text-shadow: -3px 2px 12px rgba(241, 109, 127, 0.9);
}

.registration__conteiner .registration__cart .registration__form .input-radio:focus {
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

.registration__conteiner .registration__cart .registration__form input[type="radio"] {
  width: 17px;
  height: 17px;
  border-radius: 999px;
  -webkit-appearance: inherit;
  border: 1px solid #999999;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration__conteiner .registration__cart .registration__form input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  border-radius: 999px;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background: #F16D7F;
}

.registration__conteiner .registration__cart .registration__form .advance {
  color: #B1B1B1;
  font-size: 13px;
  padding-bottom: 20px;
  max-width: 360px;
}

.registration__conteiner .registration__cart .registration__form button {
  background: #F16D7F;
  padding: 16px 29px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 23px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.registration__conteiner .registration__cart .registration__form button img {
  padding-left: 20px;
  vertical-align: middle;
}

.registration__conteiner .registration__cart .registration__form button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}

.registration__conteiner .registration__info {
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-left: 120px;
}

.registration__conteiner .registration__info h1 {
  padding-bottom: 20px;
  font-weight: 300;
}

.registration__conteiner .registration__info h2 {
  padding-bottom: 20px;
  font-weight: 300;
}

.registration__conteiner .registration__info li::before {
  content: url(img/registrationLi-vec.svg);
  height: 16px;
  width: 20px;
  padding-right: 23px;
}

.registration__conteiner .registration__info li {
  padding-bottom: 15px;
}

.containerCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1600px;
  padding: 64px 230px 90px 230px;
  background: #FFFFFF;
}

.containerCart .containerCart__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
}

.containerCart .containerCart__items .cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.3);
  box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.3);
}

.containerCart .containerCart__items .cart__item .cart__item__img {
  width: 260px;
  height: 305px;
}

.containerCart .containerCart__items .cart__item .cart__item__img img {
  width: 100%;
  height: 100%;
}

.containerCart .containerCart__items .cart__item__info {
  color: #222222;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  padding: 22px 100px 30px 30px;
  position: relative;
}

.containerCart .containerCart__items .cart__item__info h2 {
  padding-bottom: 40px;
}

.containerCart .containerCart__items .cart__item__info p {
  color: #575757;
  font-size: 22px;
  line-height: 26px;
}

.containerCart .containerCart__items .cart__item__info p span {
  color: #F16D7F;
}

.containerCart .containerCart__items .cart__item__info .inline-block {
  display: inline-block;
  padding-right: 24px;
}

.containerCart .containerCart__items .cart__item__info .quantity {
  display: inline-block;
  border: 1px solid #EAEAEA;
  height: 25px;
  width: 44px;
  text-align: center;
}

.containerCart .containerCart__items .cart__item__info .cart_delete {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.containerCart .containerCart__items .cart__item__info .cart_delete button {
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.containerCart .containerCart__items .cart__item__info .cart_delete button img {
  width: 100%;
}

.containerCart .containerCart__items .cart__item__info .cart_delete button:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.containerCart .containerCart__items .containerCart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerCart .containerCart__items .containerCart__buttons .cart__button {
  font-size: 14px;
  color: #000000;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.containerCart .containerCart__items .containerCart__buttons .cart__button:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  -webkit-box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.2);
  box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.2);
}

.containerCart .containerCart__form .cart__form_inputs .form_heading {
  font-size: 16px;
  color: #222222;
  padding-bottom: 20px;
  font-weight: 300;
}

.containerCart .containerCart__form .cart__form_inputs .form_input {
  display: block;
  height: 44px;
  width: 360px;
  border: 1px solid #A4A4A4;
  padding-left: 16px;
}

.containerCart .containerCart__form .cart__form_inputs .form_input::-webkit-input-placeholder {
  opacity: 0.5;
}

.containerCart .containerCart__form .cart__form_inputs .form_input:-ms-input-placeholder {
  opacity: 0.5;
}

.containerCart .containerCart__form .cart__form_inputs .form_input::-ms-input-placeholder {
  opacity: 0.5;
}

.containerCart .containerCart__form .cart__form_inputs .form_input::placeholder {
  opacity: 0.5;
}

.containerCart .containerCart__form .cart__form_inputs .form_input:focus {
  -webkit-box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.2);
  box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.2);
}

.containerCart .containerCart__form .cart__form_inputs button {
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
  font-size: 11px;
  padding: 10px 15px;
  margin-top: 24px;
  margin-bottom: 55px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.containerCart .containerCart__form .cart__form_inputs button:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  -webkit-box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.2);
  box-shadow: 21px 15px 35px -1px rgba(34, 34, 34, 0.2);
}

.containerCart .containerCart__form .cart__form_checkout {
  background: #F5F3F3;
  max-width: 360px;
  padding: 40px 34px;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-top {
  border-bottom: 1px solid #E2E2E2;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-top p {
  font-weight: 400;
  font-size: 11px;
  color: #4A4A4A;
  text-align: end;
  padding-bottom: 10px;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-top p span {
  padding-left: 10px;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-top .checkout-topText {
  font-size: 16px;
  color: #222222;
  padding-bottom: 20px;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-top .checkout-topText .pink {
  color: #F16D7F;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-bottom button {
  background: #F16D7F;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding: 15px 40px;
  margin-top: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.containerCart .containerCart__form .cart__form_checkout .checkout-bottom button:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
          box-shadow: 1px 1px 13px 1px rgba(241, 109, 127, 0.87);
}
/*# sourceMappingURL=style.css.map */